.wrapperRegister {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.wrapperRegister h1 {
    font-size: 2rem;
    font-weight: 400;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
}

.formTextField {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.TextField {
    width: 100%;
}

.login {
    font-size: small;
    text-align: right;
}
