.wrapperCharacter {
    display: flex;
    height: 6vh;
    width: 100%;
    color: white;
    background-color: rgba(90, 90, 90, 0.621);
    border-radius: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
}

.picture {
    border-radius: 100%;
    height: 2em;
    width: 2em;
    object-fit: cover;
}

.pictureContainer {
    display: flex;
    align-items: center;
    height: 100%;
    width: 3em;
}

.name {
    text-align: left;
}