:root{
    --primary :#53599A;
    --accent-dark : #1C1C1C;
    --accent-light : #3e3e3e;
  
  } 
    
  body{
    margin: 0;
    padding: 0;
    background-color: var(--maint-color);
    color: white;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
  }
  
  p {
    margin: 0px;
  }
  
  .page {
    display: flex;
    flex-direction: row;
  }
  
  .App-header{
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: space-between;
    padding-left: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: larger;
    background-color: var(--primary);
    height: 10vh;
    width: 100%;
  }
.Profil{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 10%;
  margin: 1%;
  cursor: pointer;
}
  .logo {
    height: 8vh;
}
  
.list-character {
  background-color: var(--accent-light);
  width: 20vw;
  max-height: calc(90vh - 20px);
  flex: 1;
  flex-shrink: 0; /* Ajoutez cette propriété */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  overflow-y: auto;
}

.list-character::-webkit-scrollbar {
  width: 7px;
}

.list-character::-webkit-scrollbar-thumb {
  background-color: var(--accent-dark);
  border-radius: 20px;
}

.list-character::-webkit-scrollbar {
  width: 7px;
}

.list-character::-webkit-scrollbar-thumb {
  background-color: var(--accent-dark);
  border-radius: 20px;
}

.chat-container-feed {
  background-color: var(--accent-dark);
  width: 80vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat-container-feed-content {
  background-color: var(--accent-light);
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;  
  padding: 20px;
}

.chat-container-feed-content-reponse {
  height: 90%;
  overflow-y:scroll;
}

.chat-container-feed-content-reponse::-webkit-scrollbar {
  width: 7px;
}

.chat-container-feed-content-reponse::-webkit-scrollbar-thumb {
  background-color: var(--accent-dark);
  border-radius: 20px;
}

.chat-container-feed-content-input {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10px;
  background-color: white;
  border-radius: 20px;
}

.chat-container-feed-content-input input {
  width: 98%;
  height: 20px;
  border-radius: 20px 0px 0px 20px;
  border: none;
  padding: 10px;
  font-size: 1.2rem;
  background-color: unset;
}

.chat-container-feed-content-input input:focus {
  outline: none;
}

.send {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 50px;
  border-radius: 0px 25px 25px 0px;
  fill: var(--accent-dark);
}

.send:hover {
  cursor: pointer;
  fill: var(--accent-light);
}
.bar{
  margin :5px;
  width: 90%;
  height: 5px;
  background-color: white;
  border-radius: 2.5px;
}
.addCharacter{
  display: flex;
  grid-template-columns: 5vh 60%;
  grid-template-rows: 1fr;
  gap: 1em;
  height: 6vh;
  width: 90%;
  color: white;
  background-color: var(--primary);
  border-radius: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.divcharacter{
  width: 100%;
}
.RigthMenu{
  background-color: var(--accent-light);
}
.MenuTop{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.MenuTop div{
  margin :10px;
}